html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  background: #884444;
}

a {
  color: white;
}

#app {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  justify-items: start;
  align-items: start;
  align-self: stretch;
}

#styleBar {
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background: #444444;
}

#mainArea {
  display: flex;
  flex-direction: column;
}

#pageTitle {
  margin: 5px;
  font: 50pt serif;
}


#titleBar {
  display: flex;
  width: 100%;
  height: 100%;
  background: #884444;
}

#canvasDiv {
  width: 100%;
  height: 100%;
}

#footerDiv {
  width: 100%;
  height: 100%;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: space-evenly;
}

#drawingArea { 
  height: 100%;
  width: 100%;
}

.imageButtonGroup {
  display: flex;
  flex-wrap: wrap;
}

.imageButton {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 5px;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
  border-radius: 10%;
}

.buttonImage {
  width: 100px;
  border-radius: 30%;
}

.IBselected {
  background: #884444;
}

#styleTools, #styleCanvas, #styleElement, #styleExport {
  padding: 10px;
  flex-grow: 0;
}

#styleSpacer {
  flex-grow: 1;
}

input {
  margin: 4px;
}
