html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  background: beige;
}

#styleBar {
  width: 20%;
  height: 100%;
  background: beige;
  float: right;
}

#toolbar {
  width: 80%;
  float: left;
  background: beige;
}

#canvasDiv {
  width: 80%;
  float: left;
  background: beige;
}

#drawingArea { 
  height: 100%;
  width: 100%;
}

